.c-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 64px;
    padding-inline: 32px;
    border: 1px solid #FFD91A;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
    gap: 12px;
}

.c-button:hover {
    transform: translateY(-2px);
}

.c-button__text {
    display: block;
}

.c-button__icon {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.c-button--primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.c-button--primary:hover {
    color: var(--color-black);
    background-color: var(--color-white);
    border-color: var(--color-primary-hover);
}

.c-button--outline {
    background-color: var(--color-white);
    border-color: var(--color-primary);
}

.c-button--outline:hover {
    background-color: var(--color-primary);
}
