*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
article,
aside,
header,
nav,
main,
section,
footer,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
header,
nav,
main,
section,
footer {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    color: inherit;
    background: none;
    cursor: pointer;
}